services:
  app:
    build: .docker
    stdin_open: true
    tty: true
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: true
      CHOKIDAR_INTERVAL: 100
    ports:
      # Mapăm un interval de porturi pentru Vite, deoarece poate alege alt port dacă 5173 este ocupat
      - "5173-5180:5173-5180"
    volumes:
      - .:/app
      # exclude
      - /app/.git/
    working_dir: /app
    user: 1000:1000